* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.top {
    height: 3.75rem;
    width: 100%;
    background-color: rgb(40, 37, 37);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 5px 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* z-index jyada krdo taki overlapping na ho  */
.icons {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100000000;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}

.icons-2 {
    position: fixed;
    bottom: 15px;
    right: 90px;
    z-index: 100000000;
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}

.icons img,
.icons-2 img {
    width: 30px;
}

.top-logo {
    width: 45px;
    /* transform: rotate(403deg); */
}

.socialmedia {
    height: 2.25rem;
    width: 36px;
    transition: 100ms ease-in-out;
}

.socialmedia-icons {
    display: block;
    margin: 10px 22px;
    letter-spacing: 14px;
}

.socialmedia:hover {
    transform: scale(1.1);
}

.navbar {
    /* padding-top: 79px; */
    position: fixed;
    top: 4.4rem;
    width: 100%;
    z-index: 999999999999;
}

.company {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 70%;
}

.nav-item {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;
}

.nav-items {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: 100ms ease-in-out;
    font-size: 16px;
    position: relative;
}

.nav-items::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: rgb(255, 77, 0) !important;
    transform: scaleX(0);
    left: 0;
    bottom: 0;
    transition: transform 0.5s ease;
}
.nav-items:hover{
    color: aliceblue;
}

.nav-items:hover::after {
    transform: scaleX(1);
}

.items {
    padding: 7px 5px;
    word-break: keep-all;
}

;

.img {
    width: 100%;
    height:80vh;
    position: relative;
    background-size: cover;
}

.text-1 {
    width: 100%;
    font-size: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-1 h1 {
    margin-left: 2rem;
    font-size: 2rem;
}

.head-p {
    margin-left: 4rem;
    width: 60%;
    font-size: 18px;
}

.btn-section {
    font-size: 22px;
    color: white;
    width: fit-content;
    border: none;
    padding: 10px 20px;
    margin: 1rem 4rem;
    background: black;
    border-radius: 10px;
    transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-section:hover {
    background-color: rgb(249, 62, 5);

}

/* 2-section */
.slide-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    margin: 3rem auto;
    position: relative;
}

.slide-container::-webkit-scrollbar {
    display: none;
}

.pics {
    width: 100%;
    height: 40vh;
    margin: auto 20px;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 8px 19px;
    border-radius: 50%;
    font-size: 24px;
    transform: translate(-50%);
    font-weight: bold;
}

.next {
    right: 10px
}

.prev {
    left: 9px
}

/* 3-section */
.section-3 {
    width: 100%;
    margin: 10px auto;
    padding: 40px 0;
    background-color: rgb(118, 108, 108);
}

.text-2 {
    width: 90%;
    color: black;
    margin: 40px auto;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
}




.test-1 {
    text-align: start;

}

.testimonial-1 {
    margin: 20px auto;
    width: 60%;
    margin-left: 2rem;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 6px 18px 2px;
}

.testimonial-2 {
    width: 60%;
    margin-right: 2rem;
    margin-left: auto;
    background-color: white;
    box-shadow: 5px 6px 18px 2px;
    padding: 10px;
    border-radius: 10px;
}


.services {
    width: 100%;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    margin: 10px auto;
    padding: 30px 0;
}

.main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: teal;
    margin: 30px auto;
    overflow-x: scroll;
}

.main-cont::-webkit-scrollbar {
    display: none;
}

.carousel-img {
    width: 80%;
    height: 25rem;
    margin: 10px;
}

.section-4 {
    color: aliceblue;
    text-align: center;
    font-size: 2.5rem;
    padding: 7px 1px;
    font-weight: bold;
}

.btn-1 {
    position: absolute;
    margin-top: 406px;
    width: 81px;
    height: 2.06rem;
    font-size: 1.34rem;
    border-radius: 17px;
    border: 2px solid black;
    background: transparent;
}

.line {
    cursor: pointer;
    position: absolute;
    top: 330%;
    color: black;
    padding: 8px 19px;
    border-radius: 50%;
    font-size: 1.37;
    font-weight: bold;
}

.right {
    margin-left: 96%;
}

.about {
    width: 100%;
    height: 60rem;
    background-color: rgb(118, 108, 108);
    opacity:0.8;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form-contact us */
.contact {
    width: 100%;
    margin-top: 5px;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

form {
    width: 50%;
    background-color: transparent;
    padding: 30px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-size: 2.9rem;
    font-weight: bold;
    color: white;
}

.form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    /* margin-bottom: 10px; */
    color: white;
}

input,
textarea {
    padding: 3px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #e7e7e7;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #00a1ff;
}

textarea {
    height: 6.25rem;
}

input[type="submit"] {
    background-color: #00a1ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0088cc;
}

/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info,
.footer-contact,
.footer-social {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-info h2,
.footer-contact h2,
.footer-social h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-nav {
    text-align: center;
    margin-bottom: 20px;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a {
    color: #fff;
    text-decoration: none;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.footer-copy {
    text-align: center;
    font-size: 14px;
}

/* bad ke edit */
.section-1 {
    padding-top:3rem;
}

.para-1 {
    color: aliceblue;
    width: 80%;
    font-size: 1.5rem;
}

.footer-social-media {
    height: 30px;
    width: 120px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 117px !important;
}

.contact-form {
    color: aliceblue;
    font-size: 2rem;
    width: 48%
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-info,
    .footer-contact,
    .footer-social {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:1240px) {
    .btn-section {
        position: relative;
        bottom: 50%;
        left: 70%;
    }

    .text-1 {
        height: 102%;
    }

    .img {
        height: 90vh;
    }

    .text-1 h1 {
        margin-top: 107px;
    }

    .arrow {
        top: 138%;

    }

    .about {
        height: 71rem;
    }

    .contact {

        height: 40rem;
    }
}

@media screen and (max-width:1060px) {

    .about {
        height: 80rem;
    }
}

@media screen and (max-width:962px) {
    .img {
        height: 119vh;
    }

    .arrow {
        top: 170%;
    }

    .carousel-img {
        height: fit-content;
    }

    .about {
        height: 81rem;
    }

}

@media screen and (max-width:938px) {
    .section-1 {
        padding-top: 10rem;
    }

}

@media screen and (max-width:880px) {
    .para-1 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:880px) {
    .para-1 {
        font-size: 1.3rem;
    }

    .about {
        height: 74rem;
    }

    .footer-social-media {
        margin-left: 0px;
    }

    .icons img,
    .icons-2 img {
        width: 21px;
    }

    .footer-social-media {
        margin-left: 87px
    }
}

@media screen and (max-width:760px) {
    .about {
        height: 78rem;
    }

    .footer-social-media {
        margin-left: 0px;
    }

    .test-2 {
        font-size: 19px;
    }

    .testimonial-1,
    .testimonial-2 {
        width: 90%;
        margin-left: unset;
        margin: 20px auto;
    }
}

@media screen and (max-width:650px) {
    .about {
        height: 83rem;
    }

    .footer-social-media {
        margin-left: 0px;
    }

    .contact-form {
        font-size: 1.6rem;

    }

    .test-2 {
        font-size: 16px;
    }
}

@media screen and (max-width:605px) {
    .arrow {
        top: 198%;
    }

    .img {
        height: 141vh;
    }

    .footer-social-media {
        margin-left: 0px;
    }

    .about {
        height: 92rem;
    }

    .contact-form {
        font-size: 1.5rem;

    }

    .carousel-img {
        width: 96%;
    }

    .test-2 {
        font-size: 16px;
    }
}

@media screen and (max-width:550px) {
    .btn-section {
        font-size: 17px;
    }

    .head-p {
        font-size: 21px;
    }

    .about {
        height: 103rem;
    }

    .footer-social-media {
        margin-left: 0px;
    }

    .contact-form {
        font-size: 1.4rem;

    }

    .carousel-img {
        width: 96%;
    }

    .text-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:480px) {
    .img {
        height: 160vh;
    }

    .head-p {
        font-size: 20px;
    }

    .arrow {
        top: 225%;
    }

    .btn-section {
        font-size: 13px;
    }

    .para-1 {
        font-size: 1.2rem;
    }

    .section-1 {
        padding-top: 12rem;
    }

    .contact-form {
        font-size: 1.3rem;

    }

    .carousel-img {
        width: 96%;
    }

    .text-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:422px) {

    .btn-section {
        font-size: 11px;
    }

    .text-2 {
        font-size: 19px;
    }

    .text-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:550px) {
    .head-p {
        font-size: 19px;
    }

    .para-1 {
        font-size: 1.1rem;
    }

    .contact-form {
        font-size: 1.2rem;
    }

    label {
        font-size: 1rem;
    }
}

@media screen and (max-width:370px) {
    .btn-section {
        font-size: 7px;
    }

}